 .wrapBtn {
     background-color: #0f6bcb;
     color: #fff;
     border-radius: 7px;
     padding: 7px;
     margin: 0 px;
     text-decoration: none;
     font-family: Helvetica, Arial, sans-serif;
     width: fit-content;
 }

 .wrapBtn:hover {
     background-color: #185EA5;
 }

 .btnIcon {
     display: flex;
     color: #fff;
     background-color: #17aabf;
     padding: 3px;
     margin-right: 10px;
     border-radius: 5px;

 }