.wrapProduct {
  width: 300px;
  height: 80%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 0;
  margin: 5px 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
}

.wrapDescription {
  height: 50%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.descriptionTitle {
  width: 100%;
  height: fit-content;
  margin: 5px 0;
  font-size: 1.8rem;
  line-height: 2em;
}

.description {
  display: block;
  height: 6em;
  width: 100%;
  font-size: 1.4rem;
  color: #999;
  line-height: 1.5em;
  overflow: hidden;
  position: relative;
}

.wrapPrince {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prince {
  font-size: 2.4rem;
}

.btnAdd {
  border-radius: 5px;
  background-color: #238be6;
  color: #fff;
  font-size: 1.4rem;
  line-height: 2.5em;
  padding: 0px 10px;
}
